.firstBlockWrapper{
    background-image: url(./bgc.png);
    border:1 solid red;
    height:135vh;
    width: 100%;
    color: white;
}
.firstBlockButtonsWrapper{
    margin:600px 240px 0 300px;
    
}
.firstBlockButton{
    background:rgba(153, 132, 49, 1);
    color:white;
    width: 100px;
    height: 50px;
    margin:10px;
}
.headerWrapper{
    display:flex;
    width: 100%;
    justify-content: center;
}
.headerContact{
    color: #FFFFFF;
    display:flex;
    margin-left:auto;
    margin-right: 271px;
    margin-top: 40px;
}
.headerPosition{
   color:white;
   margin-right:auto;
   margin-left:271px;
   margin-top: 40px;
}
.subHeaderWrapper{
    display:flex;
    justify-content: center;
    margin:24px 0;
}
.subHeaderItemCatalog{
   padding: 24px 24px;
   border:1px solid gray;
   border-left: 0;
}
.subHeaderItemDelivery{
    padding: 24px 24px;
    border:1px solid gray;
}
.subHeaderItemCollections{
    padding: 24px 24px;
    border:1px solid gray;
}
.subHeaderItemContacts{
    padding: 24px 24px;
    border:1px solid gray;
    border-right: 0;
}