.subHeaderWrapper{
    display:flex;
    margin: auto;
    padding: 24px 300px 24px 300px;
    align-items: center;
   
}
.subHeaderItems{
   padding: 0 24px;
   border:1px solid gray;
   border-left: 0;
   border-right: 0;
}

